.DS_Store

/lw1/build/classes
/lw1/build/kotlin
/lw1/build/resources
/lw1/build/tmp
/lw1/.idea
/lw1/.gradle

/lw2/build/classes
/lw2/build/kotlin
/lw2/build/resources
/lw2/build/tmp
/lw2/.idea
/lw2/.gradle

/lw3/build/classes
/lw3/build/kotlin
/lw3/build/resources
/lw3/build/tmp
/lw3/.idea
/lw3/.gradle